<div class="cookies">


<h3 class='buy-popup'>Purchase An Additional Floor</h3>

{{#mdl-table content=model class="mdl-cell mdl-cell--6-col" as |business|}}
	{{#mdl-table-col label='Business'}}
		{{mdl-radio value=business.id text=business.category name='type' on-click=(route-action 'selectBusiness' business)}}
	{{/mdl-table-col}}
	{{#mdl-table-col label='Cost'}}
		${{business.cost}}
	{{/mdl-table-col}}
  {{#mdl-table-col label='Employees Needed'}}
    {{business.numberOfPeopleNeeded}}
  {{/mdl-table-col}}
  {{#mdl-table-col label='Earnings'}}
    ${{business.earningsPerMinute}}
  {{/mdl-table-col}}
{{/mdl-table}}

{{#mdl-button class='submit-popup' isRaised=true on-click=(route-action 'buyFloor')}}Buy{{/mdl-button}}
{{mdl-button class='submit-popup' on-click=(route-action 'goBack') isRaised=true text='Cancel'}}
</div>
