<div class="mdl-layout">
  <div class="mdl-layout__content sky">
    <header>
      <ul class="status-bar">
        <li class="status-bar__item">{{model.game.totalMoney}}</li>
        <li class="status-bar__item">{{mdl-icon class="status-bar__icon" icon='group'}}{{model.game.totalResidents}}/{{model.game.capacity}}</li>
        <li class="status-bar__item">{{mdl-icon class="status-bar__icon" icon='contacts'}}{{model.game.availableEmployees}}</li>
      </ul>
    </header>

    {{outlet}}

    <ul class="the-tower">
      {{#each model.floors as |floor|}}
        {{#unless floor.isNew}}
          <li class="floor floor--{{str-dasherize floor.business.category}}">{{floor.floorNumber}}</li>
        {{/unless}}
      {{/each}}
    </ul>

    {{#mdl-mini-footer}}
      {{#mdl-footer-linklist}}
        {{#link-to 'game.buy' class="buy-btn"}}
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
Expand Tower
</button>
        {{/link-to}}
      {{/mdl-footer-linklist}}
    {{/mdl-mini-footer}}
  </div>
</div>
